!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bookman
    = csrf_meta_tags
    = javascript_pack_tag 'application'
  %body
    = yield
    #app
      %hello
      %form#search
        %input{ name: :query, 'v-model': :searchQuery }
      %books{ ':filter-key': :searchQuery }
